.module_header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    overflow: scroll;
}
.module_header::-webkit-scrollbar {
    display: none;
}