.module_news{
    .form_container {
        width: 100%;
        .upload_button {
            width:8vw;
            position:'absolute';
            left:0;
            bottom:0;
            background:'#00000015';
        }
    }
}