
.container{
    // background-color: #fff;
    .site-collapse-custom-collapse {
        overflow: hidden;
        background-color: #fff;
        .site-collapse-custom-panel {
            background: #f7f7f7;
            border-radius: 2px;
            margin-bottom: 12px;
            border: 0px;
            overflow: hidden;
            .module_header{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                padding: 0;
                img{
                    width: 280;
                    height: 210;
                }
            }
            .module_search{
                .form_input{
                    width:100 !important
                }
            }
        }
    }
}
