.admin_container::-webkit-scrollbar {
    display: none;
}
.admin_container {
    // width:100vw;
    // padding:0;
    overflow: scroll;

    .header {
        flex-shrink: 1;
        height:50;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .bottom_layout {
        // height:94vh;
        // height: 100%;
        flex-shrink: 1;
        .sider_container {
            width:15vw;
        }
        .content_layout {
            padding: 0 2vw 2vw;
            .breadcrumb {
                margin: 16px 0;
                width:85vw;
            }
            .content_container {
            }
        }
    }
}