
.container {
    // height:100vh;
    // width:100vw;
    padding:0;
    overflow: scroll;
    .header {
        height:6vh;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .content-site-layout-background {
        // background: #F0F2F5;
        // background: #fff;
        // position: absolute;
        // left:
        // height:100vh;
    }
}