
.container{
    .site-collapse-custom-collapse {
        background-color: #fff;
        padding-left: 2vw;
        padding-bottom: 1vw;
        .site-collapse-custom-panel {
            background: #f5f9fd;
            border-radius: 15px;
            margin-bottom: 1vw;
            border: 0px;
            width: 77vw;
        }
    }
}
